extends layout

block content
  h1.confirmation-title ¡Gracias por tu compra!
  .compra-exitosa
    img(src="/images/compra-exitosa.png", alt="")
  p.confirmation-message Tu pedido ha sido procesado con éxito.